body {
    background-image: url("../images/shsu.png135435.png");
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right;
    width: 95%;
    margin: 15px auto;
}
#nav_menu ul {
    list-style-type: none;
    padding-bottom: 3em;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.lastitem {
    border-right: none;
}
#nav_menu ul li a.current {
    color: yellow;
}
aside {
    width: 20%;
    float: right;
    background-color: lightskyblue;
    border: solid dodgerblue;
    position: sticky;
}
aside ol {
    list-style-type: upper-roman;
}
aside ul {
    list-style-type: none;
}
aside ol ul ol {
    list-style-type: lower-alpha;
}
article h1 {
    color: blue;
    font-weight: bold;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 100px;
    width: 180px;
}
article h2 {
    color: blue;
    font-weight: bold;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
article {
    clear: both;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 4px dashed blue;
    column-gap: 2em;
    margin-left: 2em;
    border-top: solid blue;
    padding-top: 3em;
    padding-bottom: 1em;
    border-bottom: 4px solid blue;
}
a:focus, a:hover {
    font-style: italic;
    color:orangered;
    border: 3px blue;
    border-style: dotted;
}
footer {
    clear: both;
    text-align: center;
    padding-top: 1em;
}